/* MAX-WIDTH 992PX */
@media (max-width : 1280px) {
  .hero_content {
    padding-left: 5rem;
  }


  
}

@media (max-width: 992px) {
  /* NAVBAR SECTION START  */
  .navbar {
    height: 6.5rem;
  }

  .nav-item {
    padding-inline: 0rem;
  }

  .nav-item .nav-link {
    padding-bottom: 0.8rem;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .navbar-collapse {
    margin-top: 0.7rem;
    padding: 2rem;
    border-bottom: 0.1rem solid var(--blue);
    border-radius: 0 0 1rem 1rem;
    text-align: left;
    z-index: 10;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.4);
  }
  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .navbar-toggler i {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.4);
    transition: var(--transition);
  }

  .navbar-toggler:focus i {
    border-color: var(--green);
    color: var(--green);
  }
}
/* MAX-WIDTH 772PX */
@media (max-width: 772px) {
  /* CUSTOM CSS */
  h1 {
    font-size: 3.5rem !important;
  }
  h2 {
    font-size: 3rem !important;
  }
  h3 {
    font-size: 2.5rem !important;
  }
  h4 {
    font-size: 2rem !important;
  }

  p {
    font-size: 1.5rem;
  }

  .section-padding {
    padding-block: 4.5rem;
  }
}
/* MAX-WIDTH 568PX */
@media (max-width: 568px) {
  /* CUSTOM CSS */

  h2 {
    font-size: 2.8rem !important;
  }
  h4 {
    font-size: 1.8rem !important;
  }
  h5 {
    font-size: 1.6rem !important;
  }

  /* NAVBAR SECTION */
  .navbar-collapse {
    padding: 1rem;
    text-align: center;
    margin-top: 1.4rem;
  }

  .navbar-brand h3 {
    font-size: 3rem !important;
  }

  .nav-item .nav-link {
    padding-bottom: 0.8rem;
    margin-right: 0;
    font-size: 1.5rem;
  }

  /* FOOTER SECTION */
  .subfooter_content p {
    font-size: 1.2rem;
  }

  .border-right ul {
    padding-left: 0rem;
  }

  .border-right {
    border-right: none;
  }
}
/* MAX-WIDTH 420px */
@media (max-width: 420px) {
}
