@media (max-width: 1400px) {
  .hero_section {
    width: 100%;
  }

  .hero_content {
    width: 100%;
    max-width: 510px;
    margin-inline: auto;
  }
}
@media (max-width: 1200px) {
  /* CUSTOM CSS */
  h1 {
    font-size: 3.5rem !important;
  }

  .hero_content {
    width: 100%;
    max-width: 360px;
    margin-inline: auto;
  }
}

@media (max-width: 992px) {
  .padding-block {
    padding-block: 8rem;
  }

  /* NAVBAR SECTION START  */
  .navbar {
    height: 6.5rem;
  }

  .nav-item {
    padding-inline: 0rem;
  }

  .nav-item .nav-link {
    padding-bottom: 0.8rem;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .navbar-collapse {
    margin-top: 0.8rem;
    padding: 2rem;
    border-bottom: 0.1rem solid var(--blue);
    border-radius: 0 0 1rem 1rem;
    text-align: left;
    z-index: 10;
    background-color: var(--white) !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.4);
    z-index: 100;
  }
  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .navbar-toggler i {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.4);
    transition: var(--transition);
  }

  .navbar-toggler:focus i {
    border-color: var(--green);
    color: var(--green);
  }

  .hero_content {
    width: 100%;
    max-width: 720px;
    margin-inline: auto;
    padding-block: 2rem;
  }

  .hero_btn button {
    padding: 0.8rem 1.5rem;
    font-size: 1.3rem;
  }

  .hero_btn {
    margin-block: 1.8rem;
  }

  .hero_content h2 {
    font-size: 1.8rem !important;
  }

  /* CHOOSE SECTION */
  .choose_shape {
    display: none;
  }

  /* COMPANY SECTION */
  .company_section {
    width: 100%;
    height: auto;
    padding: 5rem 0 3rem 0;
  }

  .insurance_section , 
  .choose_section ,
  .testmonial_section {
    height: auto;
    padding-block: 9rem;
  }

  /* TEAM SECTION */
  .team_section {
    padding-block: 5rem; 
  }

  .team_card img {
    width: 12rem;
    height: 12rem;
  }

  .team_padding {
    padding: 4.5rem 0 4.5rem 0;
  }

  /* INSURANCE SECTION */
  .insurance_card {
    height: 30rem;
  }

}
/* MAX-WIDTH 772PX */
@media (max-width: 768px) {
  /* CUSTOM CSS */
  h1 {
    font-size: 3rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
  h3 {
    font-size: 2.5rem !important;
  }
  h4 {
    font-size: 2rem !important;
  }

  p {
    font-size: 1.5rem;
  }

  .padding-block {
    padding-block: 5rem;
  }

  /* NAVBAR SECTION */
  .nav_items {
    border: none;
    padding-right: 0rem;
  }

  /* HERO SECTION */
  .hero_content {
    width: 100%;
    max-width: 520px;
    margin-inline: auto;
    padding-block: 2rem;
  }

  .insurance_section , 
  .choose_section ,
  .testmonial_section {
    height: auto;
   padding-block: 6rem;
  }

  /* TEAM SECTION */
  .team_padding {
    padding: 4rem 0 4rem 0;
  }
}
/* MAX-WIDTH 568PX */
@media (max-width: 576px) {
  /* CUSTOM CSS */
  h1 {
    font-size: 2.8rem !important;
  }

  h4 {
    font-size: 1.8rem !important;
  }
  h5 {
    font-size: 1.6rem !important;
  }

  /* NAVBAR SECTION */
  .navbar-collapse {
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
  }

  .navbar-brand h3 {
    font-size: 3rem !important;
  }

  .nav-item .nav-link {
    padding-bottom: 0.8rem;
    margin-right: 0;
    font-size: 1.5rem;
  }

  /* HERO SECTION */
  .hero_content {
    width: 100%;
    max-width: 100%;
    padding-left: 1.5rem !important ;
  }

  .hero_btn button {
    padding: 0.6rem 1.2rem;
    font-size: 1.3rem;
  }

  .hero_main_btn {
    font-size: 1.3rem;
  }

  /* COMPANY SECTION */
  .company_img img {
    max-width: 10rem;
  }

  .company_section {
    padding: 3rem 0 3rem 0;
  }

  /* CHOOSE SECTION */
  .choose_title {
    margin-bottom: 0.5rem;
    font-size: 1.8rem !important;
  }

  .border-right ul {
    padding-left: 0rem;
  }

  .border-right {
    border-right: none;
  }

  /* INSURANCE SECTION */
  .insurance_card {
    height: 26rem;
  }

  /* TESTMONIAL SECTION */
  .swiper_card {
    margin-bottom: 6rem;
  }

  /* FAQ SECTION */
  .accordion-button {
    font-size: 1.3rem !important;
  }

  /* FOOTER SECTION */
  .subfooter_content p {
    font-size: 1.2rem;
  }

  .footer_section {
    padding: 4rem 0 2rem 0;
  }

}
/* MAX-WIDTH 420px */
@media (max-width: 420px) {
}
